body {
    margin: 0;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 100px;
    background-color: #fef2f8;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    z-index: 1000;
}

.sidebar .nav-link {
    color: black;
    text-align: center;
    padding: 20px 10px;
    font-size: 0.85rem;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: #f19ed1;
    border-radius: 15px;
}

.sidebar i {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.content {
    margin-left: 100px;
    padding: 20px 30px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: end;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info .bi-chevron-right {
    margin-left: 5px;
}

.solicitacoes-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 20px;
}

.search-bar {
    display: flex;
    gap: 5px;
}

.search-bar input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 10px;
}

.add-request {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 4px;
}

table th,
table td {
    vertical-align: middle !important;
}

.espaco{
    padding-left: 130px;
    padding-top: 40px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 300px;
    margin: 0 auto;
}

.form-group input,
.form-group text{
  padding: 0.5rem;
  border: 1px solid #000000;
  border-radius: 8px;
}

button {
    
    padding: 0.5rem 1rem;
    background-color: #15191d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }