body {
    background-color: #e2d5c9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: none;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.forgot-logo {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    object-fit: contain;
}

.btn-dark {
    background-color: #333;
    border: none;
}

.btn-dark:hover {
    background-color: #000;
}